:root{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: 0.5rem;
}
body::-webkit-scrollbar-track{
    background: black;
}
body::-webkit-scrollbar-thumb{
    background: white;
}

main{
    margin-left: 5rem;
    padding: 1rem;
}

.navBar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: black;
}