:root{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: 0.5rem;
}
body::-webkit-scrollbar-track{
    background: black;
}
body::-webkit-scrollbar-thumb{
    background: white;
}

main{
    margin-left: 6rem;
    padding: 1rem;
    text-align: center;
}
#weather{
    text-transform: uppercase;
}

.navBar{
    width: 7rem;
    height: 100vh;
    position: fixed;
    background-color: black;
    color: white;
    text-align: center;

    transition: 200ms ease;
}
.navBar:hover{
    width: 18rem;
}
.navBar:hover .navLink p{
    display: block;
}
.navBarUl{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.navItem{
    width: 100%;
}
.navItem img {
    max-width: 3rem;
    padding: 2rem;
}
.navItem:last-child{
    margin-top: auto;
}
.navLink{
    display: flex;
    align-items: center;
    height: 5rem;
    color: white;
    text-decoration: none;

    filter: grayscale(100%);
    transition: 200ms ease;
}
.navLink p{
    display: none;
    margin-left: 1rem;
}
.navLink:hover{
    filter: grayscale(0%) invert(100%);
    background-color: orangered;
}
